{% load static %}

{% for item in buildings %}
map.on('load', () => {
    var iconElement = document.createElement('div');
    iconElement.className = 'marker1';

    var subtitle = document.createElement('h4');
    subtitle.className = 'subtitle'
    subtitle.textContent = '{{ item.name|safe }}';

    iconElement.appendChild(subtitle);

    new mapboxgl.Marker(iconElement)
        .setLngLat([{{ item.longitude|safe }}, {{ item.latitude|safe }}])
        .addTo(map);
            
});
{% endfor %}




    


